@{
    ViewData["Title"] = "Index";
    Layout = "../Shared/_LayoutAdmin.cshtml";
}
@model IEnumerable<Category>

<div class="container-fluid">
    <h1>Kategoriler</h1>
    <hr />
    <table class="col table table-bordered table-striped table-hover">
        <thead>
            <tr class="text-center">
                <th>Kategori Id</th>
                <th>Kategori Ismi</th>
                <th>Kategori Açıklaması</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
               foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.CategoryName</td>
                        <td>@item.CategoryDescription</td>
                        <td>
                            <a class="btn btn-warning col" asp-action="Edit" asp-route-id="@item.CategoryId" asp-controller="Category" asp-area="Admin">Düzenle</a>
                            <a class="btn btn-danger col" asp-action="Delete" asp-route-id="@item.CategoryId" asp-controller="Category" asp-area="Admin">Sil</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="text-center">
                    <th colspan="3" class="text-danger">Kategori Boş</th>
                </tr>
            }
        </tbody>

    </table>
    <a asp-area="Admin" asp-controller="Category" asp-action="Create" class="btn btn-primary">Kategori Ekle</a>
    <hr />
</div>
