@model List<Product>



<table class="col table table-bordered table-striped table-hover my-5">
    <thead>
        <tr class="text-center">
            <th class="d-none">Fotoğraflar</th>
            <th>Ürün Id</th>
            <th>Ürün Ismi</th>
            <th width="20%">Ürün Açıklaması</th>
            <th>Kategorisi</th>
            <th>Fiyat</th>
            <th>Mevcut mu ?</th>
            <th>Oluşturma Tarihi</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null || Model.Count > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td class="d-none">
                       @*  @if (item.ProductImageList != null)
                        {

                            @foreach (var item1 in item.ProductImageList)
                            {
                                @if (!String.IsNullOrEmpty(item1.ImageUrl_1))
                                {
                                    <div class="row">
                                        <img src="~/ProductImages/@item1.ImageUrl_1" alt="@item1.ImageDescription" class="col-4" />
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <p>Fotograf Yok</p>
                        } *@
                    </td>
                    <td>@item.ProductId</td>
                    <td>@item.Title</td>
                    <td>@if (item.Description.Length > 99)
                        {
                            @item.Description?.Substring(0, 100)
                        }else
                        {
                            @Html.Raw(item.Description)
                        }
                    </td>

                    <td>@item?.Category?.CategoryName</td>
                    <td>@item.Price</td>
                    <td>@item.IsStock</td>
                    <td>@item.Date_Of_Adjustment</td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ProductId" asp-controller="Product" asp-area="Admin">Düzenle</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ProductId" asp-controller="Product" asp-area="Admin">Sil</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="text-center">
                <th colspan="8" class="text-danger">Ürün Yok</th>
            </tr>
        }
    </tbody>
</table>

