@model int
@if (Model >= 20)
{
    <nav aria-label="Page navigation example" class="container-nav">
        <ul class="pagination">

            <li class="page-item @(Model > 1 ? "" : "disabled") ">
                <a class="page-link" asp-action="Index" asp-controller="Products" asp-route-page="@(Model-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= Model / 20; i++)
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Products" asp-route-page="@i">@i</a></li>
            }

            <li class="page-item @(Model/20 > Model ? "" : "disabled")">
                <a class="page-link " asp-action="Index" asp-controller="Products" asp-route-page="@(Model+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>



        </ul>
    </nav>
}