@model Product
@{
    ViewData["Title"] = "Index";
    Layout = "../Shared/_LayoutAdmin.cshtml";
}

<form asp-action="Edit" asp-controller="Product" asp-area="Admin" method="post" enctype="multipart/form-data">
    <div class="container mt-5 border border-1 rounded-1 p-3">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row row-cols-4 h-100 my-1">

            @*  @for (int i = 0; i < Model.ProductImages?.Count; i++)
            { *@
            @foreach (var item in Model.ProductImages)
            {

                <div class="col mb-5" style="height:100%;">
                    <div class="row">
                        <input type="hidden" asp-for="@item.Id" />
                        <img style="width:300px;height:150px;" src="https://localhost:7273/api/Image/GetImageByName/@(item.ImageUrl)" alt="@item.Title" class="col-12 w-100 object-fit-contain" />
                        <div class="col-12 container my-3">
                            <a class="btn btn-warning mb-2 w-100" asp-action="ProductsImgEdit" asp-controller="Product" asp-route-id="@item.Id" asp-area="Admin">Fotoğrafı Düzenle</a>
                            <a class="btn btn-danger m-0 w-100" asp-action="ProductsImgDelete" asp-controller="Product" asp-route-id="@item.Id" asp-route-requestUrl="@Model.ProductId" asp-area="Admin">Fotoğrafı Sil</a>
                        </div>
                    </div>
                </div>
            }
            @*  } *@
            @if (Model.ProductImages?.Count != 4)
            {
                <div class="col justify-content-center align-items-center">
                    <a class="btn btn-primary mx-2 p-2" asp-action="ProductsImgCreate" asp-controller="Product" asp-route-id="@Model.ProductId" asp-area="Admin">Fotoğraf Ekle</a>
                </div>
            }

        </div>
        <hr />
        <div class="row row-cols-1 ">
            <input asp-for="ProductId" type="hidden" />
            <div class="col">
                <label class="text-secondary" asp-for="Title"></label>
                <input type="text" asp-for="Title" class="form-control my-2" />
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="col">
                <label class="text-secondary" asp-for="Category">Kategori Seçiniz :</label>
                <select type="text" asp-for="CategoryId" class="form-control my-2" asp-items='@(ViewBag.ListCategory)'>
                    <option selected>Birini Seç</option>
                </select>
                <span class="text-danger" asp-validation-for="Category"></span>
            </div>
            <div class="col">
                <label class="text-secondary" asp-for="Description"></label>
                <textarea id="edit" type="text" class="form-control my-2" asp-for="Description"></textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="col">
                <label class="text-secondary" asp-for="Price"></label>
                <input type="number" class="form-control my-2" asp-for="Price" />
                <span class="text-danger" asp-validation-for="Price"></span>
            </div>
            <div class="col">
                <label class="text-secondary" asp-for="IsStock">Stokta Mevcut Mu ?</label>
                <input type="checkbox" style="width:1.5em;height:1.5em;" class="form-check my-2 p-5" asp-for="IsStock" />
                <span class="text-danger" asp-validation-for="IsStock"></span>
            </div>
        </div>
        <button class="btn btn-success w-100">Ekle</button>
    </div>
</form>
<partial name="../Shared/_TextEditor.cshtml" />
